.sendmsg{
	color: red;
	font-size: 30px;
	display: flex;
	justify-content: center;
}
.cartoon-title{
	display: block;
	width: 68%;
	margin:35px auto;

}

.movie-filter{

	margin: 0 auto;
}

.filter{
    /*width: 1200px;*/
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;

}

.filter li{
    margin: 10px;
    
    
}

.filter li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.filter li a:hover{
    color: blue;
}

.search-title{
	height: 30px;
}


hr{
	width: 95%;
}

.cartoon{
	/*width: 2000px;*/
	width: 68%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	flex-direction: row;

}



.cartoon a{
	box-shadow: red;
	margin: 20px 20px;
	text-align: center;
	width: 240px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	/*border: 2px solid red;*/
	border-radius: 25px;
	overflow: hidden;
	background: #000;
	
}

.cartoon-img{
	width: 100%;
	height: 80%;
	background:#000;
	padding: 10px;
}

.cartoon-img img{
	width: 100%;
	height: 100%;
	/*position: absolute;*/

}

.up-down{
	padding: 10px 0;

}


.content-div{
	width: 350px;
	height: 600px;
	margin: 1.2em;
	overflow: hidden;
	border-radius: 10px;
}

.cartoon-text{
	width: 100%;
	height: 20%;
	background: #000;
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding:0 15px;
}



.film-title{
	position: relative;
	color: red;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px;
	font-size: 26px;
}

.cartoon-text p {
	margin: 0;
	padding: 5px 0;
}

/*
.film-title:hover::before{
	position: absolute;
	overflow: auto;
	top: 100px;
	{% for row in data %}
	content: '{{row.title}}';
	{% endfor %}


}*/


