{% extends 'base.html' %}

{% block title %}
KH | 會員管理
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/member.css">
{% endblock %}

{% block content %}
	
	<div class="member-div">
	  <div class="mb-3 row">
	    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
	    </div>
	  </div>
	  <div class="mb-3 row">
	    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword">
	    </div>
	  </div>
	</div>

<!-- 	<div class="member-div">

		<div class="member-setting">
			<div id="title">
				<h3>設定</h3>
			</div>
		</div>

		<div class="member-content">區塊</div>
		
	</div> -->
<!-- 	
	<div>
		<table>
		<tr>
			
			<td>會員帳號</td>
			<td>{{ data.email }}</td>
		</tr>
		</table>


	</div>
 -->


        

{% endblock %}