{% extends 'base.html' %}

{% block title %}
KH | 我的訂單紀錄
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/myorder.css">
{% endblock %}

{% block content %}

	<div style="margin-top: 50px"></div>
	<div id="maindiv">


		<h1><i>我的訂單紀錄</i></h1>
			
	    {% if messages %}
      {% for message in messages %}        
        <div class="alert alert-warning alert-dismissible fade show prompt-msg" role="alert">
		  <strong>{{message}}!</strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
      {% endfor %}
    {% endif %}

		<table  class="table table-striped order-tb" cellpadding="4" cellspacing="1">
			{% for unit in order %}
			<tr class="order-item">
				<th >訂單編號</th>
				<th bgcolor="#cccccc">訂單日期</th>
				<th bgcolor="#cccccc">總額</th>
				<th bgcolor="#cccccc">付款方式</th>
			</tr>

			

				<tr class="order-content">
					<td>{{unit.id}}</td>
					<td align="center">{{unit.create_date}}</td>			
					<td align="center">{{unit.total_amount}}</td>
					<td align="center">{{unit.paytype}}</td>
					<!-- <td><a href="/cartordercheck/?orderid={{orderid}}&customemail={{email}}"></a></td> -->
				</tr>

				
			{% endfor %}

		</table>
	</div>
{% endblock %}